.nav{
    position: absolute;
    background-color: --background;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 16px var(--accent-color1); 
    z-index: 99;
    padding: 1rem;

    .tab{
        margin: 1rem 3rem;
        padding: 0.4rem 2.5rem;
    opacity: 0.6;

        color: white;
        &:hover{
            opacity: 1;
        }
    }
}